*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
  }

  @media {
    background-color: hsl(282, 86%, 57%); 
  }
  .menu-container {
    color: hsl(282, 86%, 57%);
    background-color: hsl(287, 83%, 80%); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
    font-size: 24px; 
  }
  .menu {
    width: 900px;
    display: flex;
    justify-content: space-around;
  }
  a:link {
    color: #8d35f8;
    text-decoration: underline;
  }
  a:visited {
    color: purple;
  }
  a:hover {
    color: rgb(255, 0, 149);
    text-decoration: underline;
  }
  a:active {
    color: #ff00f7;
  }
  a:visited:hover {
    color: #3300ff;
  }
  a:visited:active {
    color: #77369a;
  }
  
  .pitt-title {
    color: rgb(211, 189, 167);    
    background-color:  rgb(5, 5, 5); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }

  .pitt-description {
    color: rgb(5, 5, 5); 
    background-color: rgb(211, 189, 167);   
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }
  
  .photo-description {
    color:  rgb(230, 230, 230); 
    background-color:  rgb(5, 5, 5); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }

  .photo-grid-container {
    display: flex;   
  }

  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;   
    flex-wrap: wrap;
  }

  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }
   
  img {
    max-width: 100vw;
    max-height: 100vh;
  }

  .intro-paragraph {
    text-align: center;
    display: flex; 
    font-size: 20px;
  }

  .avon-title {
    color: rgb(211, 189, 167);    
    background-color: rgb(5, 5, 5); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }

  .avon-description {
    color:rgb(5, 5, 5); 
    background-color: rgb(211, 189, 167);    
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
    text-align: center;
  }

  .fl-title {
    color:rgb(211, 189, 167);    
    background-color: rgb(5, 5, 5); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }

  .fl-description {
    color: rgb(5, 5, 5); 
    background-color: rgb(211, 189, 167);    
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
    text-align: center;
  }

  .about {
    color:  rgb(5, 5, 5); 
    background-color: rgb(211, 189, 167);    
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
    text-align: center;
  }
  .about-title {
    color: rgb(211, 189, 167);    
    background-color:rgb(5, 5, 5); 
    padding: 20px 0;
    display: flex; 
    justify-content: center; 
  }